@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}
@section TopLinks {
    <li><a href="/Home/Products">@ViewBag.Title</a></li>
}
<h2>產品管理</h2>
<p>
    @Html.ActionLink("新增產品", "Create")
</p>

@if (!string.IsNullOrEmpty(Convert.ToString(TempData["ChangeMsg"])))
{
    <h3 class="text-danger">@TempData["ChangeMsg"]</h3>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
    var Products = Model.ToArray();
        }

        @for (int i = 0; i < Products.Length; i++)
        {
            @Html.HiddenFor(modelItem => Products[i].ProductId)
            
            if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == Products[i].ProductId)
            {
                ViewBag.SelectedProductItem = Products[i];
            }

    <tr @if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == Products[i].ProductId) { @Html.Raw("style='background-color: lightyellow;'")   }>
        <td>
            @Html.DisplayFor(modelItem => Products[i].ProductName)
        </td>
        <td>
            @Html.EditorFor(modelItem => Products[i].Price)<br />
            @Html.ValidationMessageFor(modelItem => Products[i].Price)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => date[i].Active)
            </td>*@
        <td>
            @Html.EditorFor(modelItem => Products[i].Stock)<br />
            @Html.ValidationMessageFor(modelItem => Products[i].Stock, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Products[i].ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = Products[i].ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Products[i].ProductId }) |
            @Html.ActionLink("Show Details ", "Index", new { type = "Details", productId = Products[i].ProductId }) |
            @Html.ActionLink("Show OrderLines", "Index", new { type = "OrderLines", productId = Products[i].ProductId })
        </td>
    </tr>
        }

    </table>
    <button class="btn btn-primary">批次更新</button>
    <hr />
    <p>
        @if (ViewBag.SelectedProductId != null)
        {
            if (ViewBag.type == "Details")
            {
                @Html.Partial("Details", ViewData["SelectedProductItem"])
            }
            else
            {
                @Html.Action("Index", "OrderLines", new { ProductId = ViewBag.SelectedProductId })
            }
        }        
    </p>
}
